<app-alert-outlet></app-alert-outlet>
<div class="d-flex flex-column align-items-center container">
  <h1 class="mt-5">Chess Game</h1>
  <div class="d-flex flex-inline align-items-center" style="padding-top: 100px;">
    <iframe src="/iframepage" class="iframe" #white (load)="onWhiteLoaded()"></iframe>
    <iframe src="/iframepage" class="iframe" #black (load)="onBlackLoaded()"></iframe>
  </div>
  <button class="btn btn-info mt-5" (click)="startNewGame()">Start New Game</button>
  <a routerLink="/onlinemode" class="btn btn-success mt-2">Play Online Mode</a>
</div>