.boards-container {
  display: flex;
  justify-content: center; /* horizontal */
  align-items: center;     /* vertical */
  padding-top: 100px;   
}

.iframe {
 width: 500px; 
 height: 500px; 
 border: none;
}
